/* You can add global styles to this file, and also import other style files */
#footer {
  background: #111;
  color: white;
  font-size: 0.7rem;
}

#footer li {
  list-style-type: none;
  text-decoration: none;
}

#footer strong {
  text-transform: uppercase;
}

#footer a {
  color: grey;
}

#footer a:hover {
  color: white;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.main {
  min-height: 100%;
  padding-bottom: 55px;
}

#footer {
  position: absolute;
  bottom: 0;
}
