<div class="container">
  <div class="row pt-3 pb-3">
    <div class="col">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Time</th>
                  <th>Total</th>
                  <th colspan="2">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <th>{{ order.id }}</th>
                  <td>{{ order.time}}</td>
                  <td>{{ order.total}}</td>
                  <td>Status</td>
                  <td>
                    <a
                      [routerLink]="['pay', order.id]"
                      ngClass="['btn', 'btn-dark', {disabled: }]"
                    >Pay</a>
                    <a [routerLink]="['user']" class="btn btn-dark">View details</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="container">
            <div class="row pt-3 pb-3">
              <div class="col-md">
                <form>
                  <h3>Edit Data</h3>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="model.name" name="name" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" [(ngModel)]="model.email" name="email" id="email">
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" [(ngModel)]="model.phone" name="phone" id="phone">
                  </div>
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#message" (click)="changeProfile()">Save</button>
                </form>
              </div>
              <div class="col-md">
                <form>
                  <h3>Change Password</h3>
                  <div class="form-group">
                    <label for="pass">New password</label>
                    <input type="password" class="form-control" name="pass" id="pass">
                  </div>
                  <div class="form-group">
                    <label for="pass_confirm">Confirm passowrd</label>
                    <input type="password" class="form-control" name="pass_confirm" id="pass_confirm">
                  </div>
                  <button type="submit" class="btn btn-primary">Change password</button>
                </form>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col">
                <h3>Addresses</h3>
              </div>
              <div class="col">
                <div class="col text-right">
                  <a class="btn btn-success text-white">
                    <fa name="plus-circle" inverse="yes"></fa>
                    Add new
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th colspan="2">Phone number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let address of addresses">
                      <tr>
                        <td>{{ address.entry_name }}</td>
                        <td>{{ address.phone_number }}</td>
                        <td class="text-right">
                          <a class="btn btn-outline-primary">Edit</a>
                          <a class="btn btn-outline-danger">Delete</a>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">{{ address.address }}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-error-message></app-error-message>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
