<div class="container">
  <div class="row mt-5">
    <ng-ais-hits>
      <ng-template let-hits="hits">
        <div *ngFor="let hit of hits">
          <div>
            <img src="https://static.shop.adidas.co.id/media/catalog/product/cache/1/small_image/250x/9df78eab33525d08d6e5fb8d27136e95/C/Q/CQ2444_SL_eCom.jpg" alt="Card image cap">
            <div class="text-center">
              <h5>{{hit.name}}</h5>
              <p>{{hit.short_desc}}</p>
              <p>{{hit.skus[0].price | currency : 'Rp '}}</p>
              <span class="btn btn-dark" (click)="addToCart(hit.id)">Buy Now</span>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-ais-hits>
  </div>
</div>
Item per page: <ng-ais-hits-per-page [items]="[{ value: 12, label: 12 }, {value: 20, label:20 }, {value: 40,label: 40}]"></ng-ais-hits-per-page>
<ng-ais-pagination></ng-ais-pagination>
