<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">HYS Shoes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/about-us']">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/register']">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
                <span class="oi oi-cart"><a class="nav-link" href="#" [routerLink]="['/cart']">Cart</a></span>
            </li>
        </ul>
    </div>
</nav>